@import url('https://fonts.googleapis.com/css2?family=Architects+Daughter&display=swap');
body {
    font-family: 'Architects Daughter', cursive;
}
html { 
    background: url(./pencil.jpg) no-repeat center center fixed; 
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
  }
#content {
    display: flex;
    justify-content: center;
    align-items: center;
}
.parentDiv {
    width: 400px;
    height: 700px;
    border: 2px solid #f5f5f5;
    margin: 0 auto;
}
.childDiv {
    border: 2px solid white;
    height: 540px;
    margin: 1rem;
    overflow: auto;
    display: grid;
}
h1 {
    text-align: center;
    color: #f5f5f5;
}

