@import url('https://fonts.googleapis.com/css2?family=Architects+Daughter&display=swap');
@media screen and (max-width: 44em){

}
body {
    font-family: 'Architects Daughter', cursive;
    color: white;
}
html { 
    background: url(./pencil.jpg) no-repeat center center fixed; 
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
  }
.cards {
  border: 2px solid white;
  padding: 2rem;
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(230px, 1fr));
  grid-template-rows: repeat(auto-fill, minmax(230px, 1fr));
  grid-gap: 3rem;
}
.card {
  padding: 3px;
  background-color: #323643;
  color: #f7f7f7;

  border: 3px solid #f7f7f7;
  border-radius: 10px;
  font-size: 1.2em;
}
.parentDiv {
  border: 1px solid blue;
}
#formDiv {
  display: flex;
  flex-direction: row;
  width: 100%;
}
form {
  
  border: 1px solid white;
  text-align: center;
  font-size: 17px;
  float: left;
}
/* exceptions in form that need special styling */
#buttonLi{
  color: #fff;
  background: darkorange;
  display: block;
  float: left;
  padding: 0.95rem;
  position: relative;
  text-decoration: none;
  transition-duration: 0.5s;
}
#buttonLi:hover {
  background: red;
  cursor: initial;
}
#submit {
  font-family: 'Architects Daughter', cursive;
  font-size: 17px;
  border: none;
  background: none;
  color: #fff;
}
/* /////////////////////////////////////////////// */

/* FORM ELEMENT STYLING */
a {
  text-decoration: none;
}
li a {
  color: #fff;
}

ul {
  background: darkorange;
  list-style: none;
  margin: 0;
  padding-left: 0;
}

li {
  color: #fff;
  background: darkorange;
  display: block;
  float: left;
  padding: 1rem;
  position: relative;
  text-decoration: none;
  transition-duration: 0.5s;
}
li:hover {
  background: red;
  cursor: pointer;
}

ul li ul {
  background: orange;
  visibility: hidden;
  opacity: 0;
  min-width: 5rem;
  position: absolute;
  transition: all 0.5s ease;
  margin-top: 1rem;
  left: 0;
  display: none;
}

ul li:hover > ul,
ul li:focus-within > ul,
ul li ul:hover {
  visibility: visible;
  opacity: 1;
  display: block;
}

ul li ul li {
  clear: both;
  width: 100%;
}

/* /////////////////////////////////////////////// */



